@model CIPlatformIntegration.Entities.Models.User;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="CSS/bootstrap.min.css">
    <link rel="stylesheet" href="~/CSS/Registration.css ">

    <script src="JS/bootstrap.bundle.min.js"></script>
    <title>Registration</title>
</head>
<body>
    <div class="container-fluid p-0">
        <div class="row align-items-center p-0">
            <div class="col-lg-8 p-0">
                <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability-login.png" class="d-block w-100 image" alt="...">
                            <div class="carousel-caption d-none d-md-block text-start">
                                <h3>This is CI Platform</h3>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil voluptas hic, quas error veritatis quo laudantium doloremque magni nisi expedita ullam quos facere at molestiae incidunt omnis est? Ut, similique.</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability-login.png" class="d-block w-100 image" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Second slide label</h5>
                                <p>Some representative placeholder content for the second slide.</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability-login.png" class="d-block w-100 image" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Third slide label</h5>
                                <p>Some representative placeholder content for the third slide.</p>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="col-lg-4" style="position: relative;">

                @using (Html.BeginForm("Registration", "Home", FormMethod.Post)) 
                {
              

                    <div class="form-group">
                        <label for="firstname">First Name</label>
                            @Html.TextBoxFor(x=>x.FirstName,new {@class="form-control", @placeholder="First Name"})
                         <span asp-validation-for="FirstName" class="text-danger"></span>

                       

                    </div>

                    <div class="form-group mt-3">
                        <label for="">Last Name</label>
                            @Html.TextBoxFor(x=>x.LastName,new {@class="form-control", @placeholder="Last Name"})
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-3">
                        <label for="">Phone Number</label>
                            @Html.TextBoxFor(x=>x.PhoneNumber,new {@class="form-control", @placeholder="Contact Number"})
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-3">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                            @Html.TextBoxFor(x=>x.Email,new {@class="form-control", @placeholder="Email"})
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="form-group mt-3">
                        <label for="exampleInputPassword1">Password</label>
                            @Html.PasswordFor(x=>x.Password,new {@class="form-control", @placeholder="Password"})
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="form-group  mt-3">
                        <label for="exampleInputPassword1">Confirm New Password</label>
                           @Html.PasswordFor(x=>x.Confirmpassword,new {@class="form-control", @placeholder="Confirmpassword"})
                        <span asp-validation-for="Confirmpassword" class="text-danger"></span>
                    </div>


                    <button type="submit" class="btn btn-outline-warning w-100 rounded-pill mt-4">Register</button>
                    

                    <p class="alreadylogin mt-3">Already Register?<span><a href="/Home/Login">Login Now</a></span></p>

                    <p class="privacy">Privacy Policy</p>
               

                }






            </div>
        </div>
    </div>

</body>

</html>
