@using CIPlatformIntegration.Entities.Models;



<html>
<head>
    <title>
        Volunteering Mission Page
    </title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    @*<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    *@

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

        @*CSS and JS file for Volunteering Mission Page itself*@
    <link rel="stylesheet" href="~/css/VolunteeringMissionPage.css" /></link>


    @*CSS file for HeaderBar*@
    <link rel="stylesheet" href="~/css/HeaderBar.css"></link>
    @*CSS file for FilterBar*@
    <link rel="stylesheet" href="~/css/FilterBar.css"></link>



    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">


</head>

<body>
    @Html.Partial("_HeaderBar")


    <div class="container-fluid">

        @foreach (var modeldetail in Model)
        {

            <input value=@modeldetail.UserId type="hidden" id="missionidforvol" />


            var goalmissions = @ViewData["goalMission"];
            var favmission = @ViewData["favMission"];
             

            <div class="row">
                <div class=" col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <!-- Container for the image gallery -->
                    <div class="container pt-4">


                        <!-- Full-width images with number text -->
                        <div class="mySlides">
                            <div class="numbertext">1 / 6</div>
                            <img class="displayimage" src="~/images/Animal-welfare-_-save-birds-campaign-1.png" style="width:100%; ">
                        </div>

                        <div class="mySlides">
                            <div class="numbertext">2 / 6</div>
                            <img class="displayimage" src="~/images/CSR-initiative-stands-for-Coffee--and-Farmer-Equity-4.png" style="width:100%; ">
                        </div>

                        <div class="mySlides">
                            <div class="numbertext">3 / 6</div>
                            <img class="displayimage" src="~/images/Education-Supplies-for-Every--Pair-of-Shoes-Sold-1.png" style="width:100%; ">
                        </div>

                        <div class="mySlides">
                            <div class="numbertext">4 / 6</div>
                            <img class="displayimage" src="~/images/Animal-welfare-_-save-birds-campaign-1.png" style="width:100%;">
                        </div>

                        <div class="mySlides">
                            <div class="numbertext">5 / 6</div>
                            <img class="displayimage" src="~/images/Education-Supplies-for-Every--Pair-of-Shoes-Sold-1.png" style="width:100%; ">
                        </div>

                        <div class="mySlides">
                            <div class="numbertext">6 / 6</div>
                            <img class="displayimage" src="~/images/Animal-welfare-_-save-birds-campaign-1.png" style="width:100%;  ">
                        </div>

                        <!-- Next and previous buttons -->
                        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                        <a class="next" onclick="plusSlides(1)">&#10095;</a>

                        <!-- Image text -->
                        @*<div class="caption-container">
                    <p id="caption"></p>
                    </div>*@

                        <!-- Thumbnail images -->
                        <div class="row py-3">

                            <div class="column pr-0">
                                <img class="demo cursor" src="~/images/Animal-welfare-_-save-birds-campaign.png" style="width:100%" onclick="currentSlide(1)" alt="The Woods">
                            </div>
                            <div class="column pr-0">
                                <img class="demo cursor" src="~/images/CSR-initiative-stands-for-Coffee--and-Farmer-Equity.png" style="width:100%" onclick="currentSlide(2)" alt="Cinque Terre">
                            </div>
                            <div class="column pr-0">
                                <img class="demo cursor" src="~/images/Education-Supplies-for-Every--Pair-of-Shoes-Sold.png" style="width:100%" onclick="currentSlide(3)" alt="Mountains and fjords">
                            </div>
                            <div class="column pr-0">
                                <img class="demo cursor" src="~/images/Animal-welfare-_-save-birds-campaign.png" style="width:100%" onclick="currentSlide(4)" alt="Northern Lights">
                            </div>
                            <div class="column pr-0">
                                <img class="demo cursor" src="~/images/Education-Supplies-for-Every--Pair-of-Shoes-Sold.png" style="width:100%" onclick="currentSlide(5)" alt="Nature and sunrise">
                            </div>
                            <div class="column pr-0">
                                <img class="demo cursor" src="~/images/Animal-welfare-_-save-birds-campaign.png" style="width:100%" onclick="currentSlide(6)" alt="Snowy Mountains">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carddetails col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <div class="card-body">
                        <p class="card-title" style="font-size:25px;"> @modeldetail.Title </p>
                        <p class="card-text" style="color:#757575;  margin-bottom:2rem; font-size:18px">@modeldetail.ShortDescription</p>



                        @if (modeldetail.MissionType == "goal")


                        {
                            @foreach (var i in goalmissions as IEnumerable<GoalMission>)

                            {
                                if (i.MissionId == modeldetail.MissionId)
                                {
                                    <div class="SEDdiv">

                                        <hr class="mt-3" style="    margin-bottom: -13px;">
                                        <div class="rounded-pill border border-3" style="background-color:#F5F5F5; text-align:center; width:50%; margin:auto; position:sticky;z-index:auto;">@i.GoalObjectiveText</div>


                                    </div>
                                    break;
                                }
                            }
                        }
                        @if (modeldetail.MissionType == "time")
                        {
                            <div class="SEDdiv">

                                <hr class="mt-3" style="    margin-bottom: -13px;">
                                <div class="rounded-pill  border border-3" style="background-color:#F5F5F5; text-align:center;  width:50%; margin:auto; position:sticky;z-index:auto;">From @Convert.ToDateTime(modeldetail.StartDate).ToString("dd/mm/yyyy") to @Convert.ToDateTime(modeldetail.EndDate).ToString("dd/mm/yyyy")</div>


                            </div>

                        }


                        <div class="d-flex justify-content-around mt-2">
                            <div class="">
                                <img src="~/images/Seats-left.png" />
                                <span>10</span>
                                <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Seats left</p>

                            </div>


                            @{


                                if (modeldetail.MissionType == "goal")
                                {
                                    foreach (var i in goalmissions as IEnumerable<GoalMission>)

                                    {
                                        if (i.MissionId == modeldetail.MissionId)
                                        {
                                                                <div class=" d-flex justify-content-end">
                                                                    <img class="w-10 targetimage" src="~/images/achieved.png" />
                                                                    <div>
                                                                        <div class="w-90 progress my-1">
                                                                            <div class="progress-bar bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>

                                                                        </div>
                                                                        <span>8000 achieved</span>
                                                                    </div>

                                                                </div>
                                        }
                                    }
                                }
                                                    @if (modeldetail.MissionType == "time")
                                {
                                                        <div>
                                                            <img src="~/images/deadline.png" />
                                                            <span>@modeldetail.EndDate.ToShortDateString() </span>
                                                            <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Deadline</p>

                                                        </div>

                                }
                            }

                        </div>



                        <hr class="mt-0">

                        <div class="row my-4">
                            @*favorite-invite-wrapper d-flex content-center column-gap-3 row-gap-3 mb-4*@



                            <button class="btn border border-secondary w-100 rounded-pill col-lg-6 col-md-6 col-sm-12" id="add-to-favourites-btn" onclick="ClickButton1()">

                                


                                @{
                                    var useridcheck = (long)ViewData["useridcheck"];
                                    var countfordelete = false;
                                    var countforadd = false;
                                    foreach (var i in favmission as IEnumerable<FavoriteMission>)

                                    {

                                        if (i.MissionId == modeldetail.MissionId && useridcheck == i.UserId)
                                        {

                                            countfordelete = true;

                                        }
                                        else
                                        {

                                            countforadd = true;

                                        }


                                    }
                                    if (countfordelete == true)
                                    {
                                                        <i class="fa fa-heart" style="font-size:23px;color:red;vertical-align:bottom;"></i>
                                                @Html.ActionLink("Remove from favorites", "Toggle", "Home", new { missionId = @modeldetail.MissionId} ,new {@class = "text-dark text-decoration-none"  })
                                        countforadd = false;

                                    }
                                    if (countforadd == true)
                                    {
                                                        <img src="~/images/heart1.png" />
                                                            @Html.ActionLink("Add to favorites", "Toggle", "Home", new { missionId = @modeldetail.MissionId },new {@class = "text-dark text-decoration-none"  })
                                        countfordelete = false;

                                    }

                                }


                            </button>



                            <button class="btn border border-secondary w-100 rounded-pill divclass col-lg-6 col-md-6 col-sm-12" data-toggle="modal" data-target="#exampleModalCenter">
                                <img src="~/images/add1.png" />
                                Recommend a to co-worker
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Recommend</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div>

                            <hr class="mt-3">
                            <div class="d-flex ratingstarempty text-warning gap-2">










                                <i class="ratingStar far fa-star" style="font-size:25px" data-value="1"></i>
                                <i class="ratingStar far fa-star" style="font-size:25px" data-value="2"></i>
                                <i class="ratingStar far fa-star" style="font-size:25px" data-value="3"></i>
                                <i class="ratingStar far fa-star" style="font-size:25px" data-value="4"></i>
                                <i class="ratingStar far fa-star" style="font-size:25px" data-value="5"></i>






                            </div>


                        </div>


                        <div class="d-flex flex-wrap gap-3 justify-content-around mt-3">


                            <div class=" border border-secondary rounded">
                                <div class="mt-2 infoboxlogo">
                                    <img src="~/images/pin1.png" />
                                </div>
                                <div class="mt-3 mr-5 ml-3 mb-3">
                                    <div class="city">
                                        City
                                    </div>
                                    <div class="citydetail" style="margin-right:30px !important;">
                                        London
                                    </div>
                                </div>
                            </div>


                            <div class=" border border-secondary rounded">
                                <div class="mt-2 infoboxlogo">
                                    <img src="~/images/pin1.png" />
                                </div>
                                <div class="mt-3 mr-5 ml-3 mb-3">
                                    <div class="city">
                                        Theme
                                    </div>
                                    <div class="citydetail">
                                        Environment
                                    </div>
                                </div>
                            </div>


                            <div class=" border border-secondary rounded">
                                <div class=" mt-2 infoboxlogo">
                                    <img src="~/images/pin1.png" />
                                </div>
                                <div class="mt-3 mr-5 ml-3 mb-3">
                                    <div class="city">
                                        Date
                                    </div>
                                    <div class="citydetail">
                                        <div>Ongoing</div>
                                        <div>Opportunity</div>

                                    </div>
                                </div>
                            </div>


                            <div class=" border border-secondary rounded">
                                <div class=" mt-2 infoboxlogo">
                                    <img src="~/images/pin1.png" />
                                </div>
                                <div class="mt-3 mr-5 ml-3 mb-3">
                                    <div class="city">
                                        Organization
                                    </div>
                                    <div class="citydetail">
                                        CSE Network
                                    </div>
                                </div>
                            </div>

                        </div>




                        <div class="mt-3" style="text-align:center;">
                            <a href="#" class="btn border-warning rounded-pill" style="position: relative;left: 0%;">
                                <span style="color:orange">Apply Now &nbsp; </span> <img src="~/images/right-arrow.png" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8 col-md-12 col-sm-12 mt-5">
                    <nav>
                        <div class="nav nav-tabs MOCTab " id="nav-tab" role="tablist">
                            <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Mission</button>
                            <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Organization</button>
                            <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Comments</button>
                        </div>
                    </nav>
                    <div class="tab-content mt-3" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                            <h5>Introduction</h5>Stet consetetur labore mazim amet eirmod tincidunt odio sadipscing dolore adipiscing et dolor dolore aliquyam sit labore gubergren nostrud eos ut et stet quod sadipscing nonumy voluptua ut suscipit aliquyam sit dolore ex ea sea aliquyam gubergren diam duis diam sea consetetur ipsum zzril ullamcorper kasd labore nulla amet est
                            <h5 class="mt-3">Challenge</h5>Est regren aliquyam duo consetetur doming ex amet accusam sadipscing iusto dolor et vero diam lorem dolores vel nulla takimata dolores sea vel diam magna diam eos consectetuer euismod diam at gubergren clita erat nibh sit accusam et magna sit tempor facilisi dolores et et liber dolor vero elitr magna no tation eos sanctus kasd gubergren magna et tempor est eos duo hendrerit eum sit clita labore tempor dolor feugait labore feugait luptatum accusam ipsum nulla diam et delenit eum tempor amet in amet duo minim tempor liber amet ut et tempor est at delenit ea justo nulla dolore et erat ipsum stet et aliquyam duo consetetur sit lorem labore et no dolor exerci sit takimata sadipscing consetetur tincidunt lorem ullamcorper dolor invidunt no dolore duis lorem dolor et nisl no et et nonummy et eirmod invidunt sanctus enim blandit iusto invidunt soluta duo ea nibh nisl minim sanctus et at vero duo lorem elit sea erat lobortis ut ipsum stet dignissim dolor erat quod invidunt elitr at est delenit accusam dolore autem sanctus ad eos iriure dolor consetetur consetetur elitr elitr invidunt soluta nonummy labore ea clita sit vel gubergren sit qui kasd aliquip dolor te labore sadipscing sed amet at nisl facilisi amet consetetur amet amet esse sea duis gubergren gubergren diam kasd et sit elitr sed gubergren accusam magna erat sed lorem sit dolore vulputate stet veniam stet duis gubergren amet tempor et est clita ea eu diam ipsum at nonumy justo amet sed eirmod labore dolore velit erat sadipscing amet takimata nisl zzril lorem ipsum lorem consequat takimata vero sea consetetur et consectetuer gubergren nonumy sed amet eos voluptua diam et amet sanctus diam laoreet lorem duis mazim ex aliquam erat
                            <h5 class="mt-3">Documents</h5>Diam duo gubergren lorem no est ut ipsum sit sanctus lorem nonumy et elitr tempor quod veniam et ipsum lorem takimata tempor stet hendrerit dolores sit ut diam eos molestie et dolor consetetur imperdiet eirmod feugait euismod mazim accusam eos amet euismod congue nulla nostrud takimata sea no sed at
                        </div>
                        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab"><h5>Organization Details</h5>Sanctus feugiat kasd ut tempor odio eirmod suscipit dolore sed magna takimata euismod magna accusam takimata consetetur in accusam sedJusto duo amet erat lorem delenit magna lorem labore gubergren rebum diam dolor dolor tincidunt nam invidunt magna sed molestie accusam et eros zzril labore et lorem dolores tempor dolor minim luptatum iusto rebum sanctus eirmod nonummy dolore ut nonumy ipsum ut euismod et voluptua consetetur lorem vero dolor illum tempor diam duis dignissim et ipsum sadipscing invidunt laoreet sed kasd ullamcorper et dolore ut vel laoreet eirmod sed lorem aliquyam tempor justo ipsum ipsum est gubergren ipsum eirmod sed qui id consequat tempor rebum voluptua dolor duo elitr dolor nulla at sed sanctus nihil gubergren sit eum et ipsum</div>
                        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                            <div class="comment-area">
                                <textarea class="form-control" placeholder="Enter your comments" rows="4"></textarea>
                                <button type="button" class="btn btn-outline-warning rounded-pill  mt-3 ml-1"> Post a Comment</button>



                                <div class=" mt-3" style="background-color:#F5F5F5; max-height:500px ;overflow-x:hidden;overflow-y:auto; ">
                                    @*<div>*@

                                    <div class="d-flex my-3" style="background-color:white; box-shadow: 2px 2px 10px #E6E6E6, 0px 0px 0px #E6E6E6, 0px 0px 0px #E6E6E6;">
                                        <div class="pl-5">
                                            <img class="rounded-circle mt-3" src="~/images/volunteer7.png" style="width:8vh;" />
                                        </div>
                                        <div class="ml-3">
                                            <h5 class="mt-1 mb-0">Marget Walsh</h5>
                                            <p>Monday, October 21, 2019, 4:57pm</p>
                                            <p>Nice Mission great opportunity for peoples</p>

                                        </div>
                                    </div>
                                    <div class="d-flex my-3" style="background-color:white; box-shadow: 2px 2px 10px #E6E6E6, 0px 0px 0px #E6E6E6, 0px 0px 0px #E6E6E6;">
                                        <div class="pl-5">
                                            <img class="rounded-circle mt-3" src="~/images/volunteer7.png" style="width:8vh;" />
                                        </div>
                                        <div class="ml-3">
                                            <h5 class="mt-1 mb-0">Marget Walsh</h5>
                                            <p>Monday, October 21, 2019, 4:57pm</p>
                                            <p>Nice Mission great opportunity for peoples</p>

                                        </div>
                                    </div>
                                    <div class="d-flex my-3" style="background-color:white; box-shadow: 2px 2px 10px #E6E6E6, 0px 0px 0px #E6E6E6, 0px 0px 0px #E6E6E6;">
                                        <div class="pl-5">
                                            <img class="rounded-circle mt-3" src="~/images/volunteer7.png" style="width:8vh;" />
                                        </div>
                                        <div class="ml-3">
                                            <h5 class="mt-1 mb-0">Marget Walsh</h5>
                                            <p>Monday, October 21, 2019, 4:57pm</p>
                                            <p>Nice Mission great opportunity for peoples</p>

                                        </div>
                                    </div>
                                    <div class="d-flex my-3" style="background-color:white; box-shadow: 2px 2px 10px #E6E6E6, 0px 0px 0px #E6E6E6, 0px 0px 0px #E6E6E6;">
                                        <div class="pl-5">
                                            <img class="rounded-circle mt-3" src="~/images/volunteer7.png" style="width:8vh;" />
                                        </div>
                                        <div class="ml-3">
                                            <h5 class="mt-1 mb-0">Marget Walsh</h5>
                                            <p>Monday, October 21, 2019, 4:57pm</p>
                                            <p>Nice Mission great opportunity for peoples</p>

                                        </div>
                                    </div>
                                    <div class="d-flex my-3" style="background-color:white; box-shadow: 2px 2px 10px #E6E6E6, 0px 0px 0px #E6E6E6, 0px 0px 0px #E6E6E6;">

                                        <div class="pl-5">
                                            <img class="rounded-circle mt-3" src="~/images/volunteer7.png" style="width:8vh;" />
                                        </div>
                                        <div class="ml-3">
                                            <h5 class="mt-1 mb-0">Marget Walsh</h5>
                                            <p>Monday, October 21, 2019, 4:57pm</p>
                                            <p>Nice Mission great opportunity for peoples</p>

                                        </div>
                                    </div>
                                    <div class="d-flex my-3" style="background-color:white; box-shadow: 2px 2px 10px #E6E6E6, 0px 0px 0px #E6E6E6, 0px 0px 0px #E6E6E6;">
                                        <div class="pl-5">
                                            <img class="rounded-circle mt-3" src="~/images/volunteer7.png" style="width:8vh;" />
                                        </div>
                                        <div class="ml-3">
                                            <h5 class="mt-1 mb-0">Marget Walsh</h5>
                                            <p>Monday, October 21, 2019, 4:57pm</p>
                                            <p>Nice Mission great opportunity for peoples</p>

                                        </div>
                                    </div>
                                    <div class="d-flex my-3" style="background-color:white; box-shadow: 2px 2px 10px #E6E6E6, 0px 0px 0px #E6E6E6, 0px 0px 0px #E6E6E6;">
                                        <div class="pl-5">
                                            <img class="rounded-circle mt-3" src="~/images/volunteer7.png" style="width:8vh;" />
                                        </div>
                                        <div class="ml-3">
                                            <h5 class="mt-1 mb-0">Marget Walsh</h5>
                                            <p>Monday, October 21, 2019, 4:57pm</p>
                                            <p>Nice Mission great opportunity for peoples</p>

                                        </div>
                                        @*</div>*@
                                    </div>

                                </div>
                            </div>


                        </div>
                    </div>
                </div>

                <div class=" col-lg-4 col-md-12 col-sm-12 mt-5">
                    <div class="rounded" style="   border:1px solid #818181">
                        <div class="border-bottom py-3  ">
                            <h4 style="position:relative; left:5vh; margin-bottom:0;">
                                Information
                            </h4>
                        </div>

                        <div class="" style="margin-top:1vh">
                            <div class="d-flex border-bottom py-3">
                                <div class="d-flex w-25"><p style="margin:auto">Skills</p></div>
                                <div class="w-75">Math,Computer,Cook</div>
                            </div>
                            <div class="d-flex border-bottom py-3">
                                <div class="d-flex w-25"><p style="margin:auto">Days</p></div>
                                <div class="w-75">Weekend Only</div>
                            </div>
                            <div class="d-flex border-bottom py-3">
                                <div class="d-flex w-25"><p style="margin:auto">Ratings</p></div>
                                <div class="w-75">
                                    <img src="~/images/selected-star.png" />
                                    <img src="~/images/selected-star.png" />
                                    <img src="~/images/selected-star.png" />
                                    <img src="~/images/star.png" />
                                    <img src="~/images/star.png" />
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="" style="">
                    </div>
                    <div class="rounded mt-3" style="  border:1px solid #818181;">
                        <div id="carouselExampleControls" class="carousel slide">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="py-3 border-bottom">
                                        <h4 style="position:relative; left:5vh; margin-bottom:0;">Recent Volunteers</h4>
                                    </div>
                                    <div style="text-align:center;">
                                        <div class="row ">
                                            <div class="col-4">
                                                <img class="rounded-circle volimage" src="~/images/volunteer4.png" />
                                            </div>
                                            <div class="col-4">
                                                <img class="rounded-circle volimage" src="~/images/volunteer3.png" />
                                            </div>
                                            <div class="col-4">
                                                <img class="rounded-circle volimage" src="~/images/volunteer4.png" />
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-4">
                                                <img class="rounded-circle volimage" src="~/images/volunteer4.png" />
                                            </div>
                                            <div class="col-4">
                                                <img class="rounded-circle volimage" src="~/images/volunteer3.png" />
                                            </div>
                                            <div class="col-4">
                                                <img class="rounded-circle volimage" src="~/images/volunteer4.png" />
                                            </div>
                                        </div>

                                        <div class="row ">
                                            <div class="col-4">
                                                <img class="rounded-circle volimage" src="~/images/volunteer4.png" />
                                            </div>
                                            <div class="col-4">
                                                <img class="rounded-circle volimage" src="~/images/volunteer3.png" />
                                            </div>
                                            <div class="col-4">
                                                <img class="rounded-circle volimage" src="~/images/volunteer4.png" />
                                            </div>
                                        </div>


                                    </div>

                                </div>
                                <div class="carousel-item">
                                    <div class="py-3 border-bottom">
                                        <h4 style="position:relative; left:5vh; margin-bottom:0;">Recent Volunteers</h4>
                                    </div>
                                    <div style="text-align:center">
                                        <div class="row mt-3">
                                            <div class="col-4">
                                                <img class="rounded-circle volimage" src="~/images/volunteer4.png" />
                                            </div>
                                            <div class="col-4">
                                                <img class="rounded-circle volimage" src="~/images/volunteer3.png" />
                                            </div>
                                            <div class="col-4">
                                                <img class="rounded-circle volimage" src="~/images/volunteer4.png" />
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-4">
                                                <img class="rounded-circle volimage" src="~/images/volunteer4.png" />
                                            </div>
                                            <div class="col-4">
                                                <img class="rounded-circle volimage" src="~/images/volunteer3.png" />
                                            </div>
                                            <div class="col-4">
                                                <img class="rounded-circle volimage" src="~/images/volunteer4.png" />
                                            </div>
                                        </div>

                                        <div class="row ">
                                            <div class="col-4">
                                                <img class="rounded-circle volimage" src="~/images/volunteer4.png" />
                                            </div>
                                            <div class="col-4">
                                                <img class="rounded-circle volimage" src="~/images/volunteer3.png" />
                                            </div>
                                            <div class="col-4">
                                                <img class="rounded-circle volimage" src="~/images/volunteer4.png" />
                                            </div>
                                        </div>


                                    </div>
                                </div>

                            </div>
                            <div class="d-flex justify-content-between p-3 ">
                                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev" style="position: relative;">
                                    <span class="carousel-control-prev-icon" style="background-color:black; height:25px; width:30px;" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next" style="position: relative;">
                                    <span class="carousel-control-next-icon" style="background-color:black; height:25px; width:30px;" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <hr class="mt-5" />
            <div class=" d-flex mt-5">
                <div style="margin:auto"><h3>Related Missions</h3></div>
            </div>

        }

    </div>









    <div class="container">
        @Html.Partial("_RelatedMissions")
    </div>





    <script type="text/javascript">
        $(".ratingStar").hover(function () {
            $(".ratingStar").addClass("far").removeClass("fas");


            $(this).addClass("fas").removeClass("far");
            $(this).prevAll('.ratingStar').addClass("fas").removeClass("far");

        });


        $(".ratingStar").click(function () {

            var starValue = $(this).attr("data-value");


            $.ajax({
                url: '/Home/StarRating',
                type: 'POST',
                data: {
                    s:starValue
                },
                success: function () {
                    alert("You gave rating=" +starValue);
                },
                error: function () {
                    alert("error");
                }
            });






            $("#ratingsValue").val(starValue);
        });

    </script>
</body>










<script src="~/js/VolunteerMissionPage.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/Cascade.js"> </script>

</html>
