@using CIPlatformIntegration.Entities.Models;
@using CIPlatformIntegration.Entities.ViewModel
@model HomePageViewModel



    @{
    Pager pager = new Pager();

    int pageNo = 0;

    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }

}




<div class="container-fluid">



    <div class="container-fluid d-flex  justify-content-between mt-3 ">
        <div class="">
            <h4 style="font-size:21px; vertical-align:central">@ViewBag.TotalCount Missions</h4>
        </div>


        <div class="d-flex ">

            <div class="dropdown ">
                <button class="btn dropdown-toggle border rounded my-1" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sort-by
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <ul>
                        <li><a class="dropdown-item" onclick="LoadMission('Newest')">Newest first</a></li>
                        <li><a class="dropdown-item" onclick="LoadMission('Oldest')">Oldest First</a></li>
                        <li><a class="dropdown-item" onclick="LoadMission('lowest')">lowest Seats</a></li>
                        <li><a class="dropdown-item" onclick="LoadMission('highest')">highest Seats</a></li>
                    </ul>
                </div>
            </div>


            <div class="d-flex">

                <button class="button1 px-4" id="list-btn" onclick="listView()"><i class="fa fa-bars"></i></button>
                <button class="ml-1 button2 px-4" id="grid-btn" onclick="gridView()"><i class="fa fa-th-large"></i></button>
            </div>


        </div>
    </div>

    @* Mission info End*@

    <div class="container-fluid">
        <div class="card-cont row" id="">
            @{
                var goalmissions = @ViewData["goalMission"];
                foreach (var modeldetail in Model.Missions)
                {
                    <div class="col-info col-12 col-md-6 col-lg-4">
                        <div class="card1 card my-5">
                            <div class="mission-img" style="position:relative;">

                                @{

                                    int counter = 0;
                                    foreach (var i in Model.missionApplications)
                                    {
                                        if (@modeldetail.MissionId == @i.MissionId)
                                        {
                                            counter++;
                                        }
                                        else
                                        {
                                            continue;
                                        }

                                    }

                                    if (counter != 0)
                                    {
                                        <div class="top-left-applied">
                                            APPLIED
                                        </div>

                                    }
                                    else
                                    {
                                        
                                    }

                                }


                                


                                <div class="rounded-pill p-1" id="location" style="position:absolute;right:8px; top:3%; background-color:black;opacity:0.6; color:white">
                                    <img src="~/images/pin1.png" />&nbsp;<span>@modeldetail.City.Name</span>
                                </div>

                                @{
                                    int cnt = 0;
                                    foreach (var i in Model.FavoriteMissions)
                                    {
                                        if (@modeldetail.MissionId == @i.MissionId)
                                        {
                                            cnt++;
                                        }
                                        else
                                        {
                                            continue;
                                        }

                                    }

                                    if (cnt != 0)
                                    {
                                        <div class="rounded-circle p-2 " id="location" style="position:absolute;right:8px; top:35%; background-color:black;opacity:0.6; color:white ">
                                            <i class="fa fa-heart" style="font-size:23px;color:red;vertical-align:bottom;"></i>
                                        </div>

                                    }
                                    else
                                    {
                                        <div class="rounded-circle p-2 " id="location" style="position:absolute;right:8px; top:35%; background-color:black;opacity:0.6; color:white ">
                                            <img src="~/images/heart1.png" />
                                        </div>
                                    }
                                }







                                <div class="rounded-circle p-2" id="location" style="position:absolute;right:8px; top:55%; background-color:black;opacity:0.6; color:white ">
                                    <img src="~/images/add1.png" />
                                </div>
                                <img class="cardimage card-img-top w-100 h-100" src="~/images/CSR-initiative-stands-for-Coffee--and-Farmer-Equity.png" alt="Card image cap">
                                <div class="justify-content-center d-flex">
                                    <div class="px-5 p-1 rounded-pill " style="background-color: white;margin-top: -16px;"><p>@modeldetail.Theme.Title</p> </div>
                                </div>

                            </div>
                            <div class="card-body pt-0">
                                <p class="card-title" style="font-size:26px;">@modeldetail.Title </p>
                                <p class="card-text" style="color:#757575">@modeldetail.ShortDescription</p>

                                <div class="d-flex justify-content-between mb-3">
                                    <div><p>@modeldetail.Country.Name</p></div>
                                    <div class="flex">
                                        <img src="~/images/selected-star.png" />
                                        <img src="~/images/selected-star.png" />
                                        <img src="~/images/selected-star.png" />
                                        <img src="~/images/selected-star.png" />
                                        <img src="~/images/selected-star.png" />
                                    </div>
                                </div>


                                @if (modeldetail.MissionType == "goal")
                                {
                                    foreach (var i in Model.GoalMission)
                                    {
                                        if (i.MissionId == modeldetail.MissionId)
                                        {
                                            <div class="SEDdiv">

                                                <hr class="mt-3">
                                                <div class="rounded-pill" style="background-color:#F5F5F5; text-align:center">@i.GoalObjectiveText</div>
                                                <hr class="mt-3">

                                            </div>
                                            break;
                                        }
                                    }

                                }
                                @if (modeldetail.MissionType == "time")
                                {
                                    <div class="SEDdiv">

                                        <hr class="mt-3">
                                        <div class="rounded-pill" style="background-color:#F5F5F5; text-align:center">From @Convert.ToDateTime(modeldetail.StartDate).ToString("dd/mm/yyyy") to @Convert.ToDateTime(modeldetail.EndDate).ToString("dd/mm/yyyy")</div>
                                        <hr class="mt-3">

                                    </div>

                                }


                                <div class="mt-1 d-flex justify-content-between">
                                    <div>
                                        <img src="~/images/Seats-left.png" />
                                        <span>10</span>
                                        <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Seats left</p>

                                    </div>




                                    @if (modeldetail.MissionType == "goal")
                                    {
                                        @foreach (var i in Model.GoalMission)

                                        {
                                            if (i.MissionId == modeldetail.MissionId)
                                            {
                                                <div>
                                                    <div class="w-90 progress my-1">
                                                        <div class="progress-bar bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>

                                                    </div>
                                                    <span>8000 achieved</span>
                                                </div>
                                                break;
                                            }
                                        }
                                    }
                                    @if (modeldetail.MissionType == "time")
                                    {
                                        <div>
                                            <img src="~/images/deadline.png" />
                                            <span>@modeldetail.EndDate </span>
                                            <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Deadline</p>

                                        </div>

                                    }




                                </div>
                                <hr class="mt-0" />



                                <div>
                                    <a asp-action="VolunteeringMissionPage" class="btn border-warning rounded-pill" style="position: relative;left: 30%;" asp-route-missionid="@modeldetail.MissionId">
                                        <span style="color:orange">Apply &nbsp; </span> <img src="~/images/right-arrow.png" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                }

            }

        </div>



    </div>


    <div class="container">
        @{

            if (pager.TotalPages > 0)
            {
                <ul class="pagination justify-content-center">

                    @for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
                    {
                        <li class="page-item  @(pge==pager.CurrentPage ? "active":"") ">
                            <a class="page-link" onclick="LoadMission(sortValue,pge=@pge)">@pge</a>

                        </li>
                    }


                </ul>
            }
        }
    </div>


