@using CIPlatformIntegration.Entities.Models;
@using CIPlatformIntegration.Entities.ViewModel;
@model IEnumerable<CIPlatformIntegration.Entities.Models.Story>;


 @{
    Pager pager = new Pager();

    int pageNo = 0;

    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }

}


    <div class="container-fluid mt-3" style="max-width:80vw">
        <div class="row">

        @{
            var users = @ViewData["users"];
            var storyMedium = @ViewData["storyMedium"];
            foreach (var i in Model)
                { 
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mt-3" style="box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 3px;">
                        <div class="card">

                        @{
                            foreach (var item in storyMedium as IEnumerable<StoryMedium>)
                            {
                                if (@item.StoryId == @i.StoryId && @item.Type!="URL")
                                {
                                    <img style="position:relative;height:23vh;" src="@item.Path" class="card-img-top" alt="...">
                                     break;
                                }
                                
                               
                            }

                        }
                                                   


                            <a asp-controller="StoryListing" asp-action="StoryDetailPage" asp-route-storyid="@i.StoryId" style="position:absolute; left:35%; top:26%;">
                                <button class="btn border border-white rounded-pill sharestorybutton" id="submitButton" type="submit" style="color:white;">View Details <img src="~/images/right-arrow.png" /></button>
                            </a>



                            <div class="card-body">
                                <h5 class="card-title">@i.Title</h5>
                                <p class="card-text">@Html.Raw(@i.Description)</p>

                                <div class="d-flex">
                                    <div><img class="rounded-circle" src="~/images/volunteer1.png" style="height:33px" /></div>

                                    @{
                                        foreach (var y in users as IEnumerable<User>)
                                        {
                                            if (y.UserId == i.UserId)
                                            {
                                                <div style="position:relative; left:5%;"><p class="mb-0">@y.FirstName</p></div>
                                            }
                                            continue;
                                        }
                                    }

                                </div>
                            </div>
                        </div>
                    </div>

                }
            }


        </div>



    </div>



    <div class="container mt-5">
        @{

            if (pager.TotalPages > 0)   
            {
                <ul class="pagination justify-content-center">

                    @for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
                    {
                        <li class="page-item  @(pge==pager.CurrentPage ? "active":"") ">
                            <a class="page-link" onclick="nextPage(pge=@pge)">@pge</a>

                        </li>
                    }


                </ul>
            }
        }
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"/>
  
    