@using CIPlatformIntegration.Entities.Models;
@using CIPlatformIntegration.Entities.ViewModel
@model HomePageViewModel



    @{
    Pager pager = new Pager();

    int pageNo = 0;

    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }

}




<div class="container-fluid" id="cardMainBackground">



    <div class="container-fluid d-flex  justify-content-between mt-3 ">
        <div class="">
            <h4 style="font-size:21px; vertical-align:central">@ViewBag.TotalCount Missions</h4>
        </div>


        <div class="d-flex ">

            <div class="dropdown ">
                <button class="btn dropdown-toggle border rounded my-1" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sort-by
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <ul>
                        <li><a class="dropdown-item" onclick="LoadMission('Newest')">Newest first</a></li>
                        <li><a class="dropdown-item" onclick="LoadMission('Oldest')">Oldest First</a></li>
                        <li><a class="dropdown-item" onclick="LoadMission('lowest')">lowest Seats</a></li>
                        <li><a class="dropdown-item" onclick="LoadMission('highest')">highest Seats</a></li>
                    </ul>
                </div>
            </div>


            <div class="d-flex">

                <button class="btn button1 px-4" id="list-btn"><i class="fa fa-bars"></i></button>
                <button class="btn ml-1 button2 px-4" id="grid-btn"><i class="fa fa-th-large"></i></button>
            </div>


        </div>
    </div>

    @* Mission info End*@

    <div class="container-fluid">
        <div class="card-cont row">
            @{
                var goalmissions = @ViewData["goalMission"];
                foreach (var modeldetail in Model.Missions)
                {
                        <div class="col-info col-12 col-md-6 col-lg-4">
                            <div class="card1 card my-5" id="cardBackground">
                                <div class="mission-img" style="position:relative; height:31vh; max-width: 60.5vh;">

                                    @{

                                    int counter = 0;
                                    int counterForPending = 0;
                                    int counterForDecline = 0;





                                    foreach (var i in Model.missionApplications)
                                    {
                                        if (@modeldetail.MissionId == @i.MissionId && @i.ApprovalStatus == "APPROVED" && @i.UserId == Model.Users.UserId)
                                        {
                                            counter++;
                                        }
                                        else if (@modeldetail.MissionId == @i.MissionId && @i.ApprovalStatus == "PENDING" && @i.UserId == Model.Users.UserId)
                                        {
                                            counterForPending++;
                                        }
                                        else if (@modeldetail.MissionId == @i.MissionId && @i.ApprovalStatus == "DECLINE" && @i.UserId == Model.Users.UserId)
                                        {
                                            counterForDecline++;
                                        }
                                        else
                                        {
                                            continue;
                                        }

                                    }

                                    if (counter != 0)
                                    {
                                                <div class="top-left-applied">
                                                    APPLIED
                                                </div>

                                    }
                                    else if (counterForPending != 0)
                                    {
                                                <div class="top-left-pending">
                                                    PENDING
                                                </div>
                                    }
                                    else if (counterForDecline != 0)
                                    {
                                                <div class="top-left-decline">
                                                    DECLINE
                                                </div>
                                    }
                                    else
                                    {

                                    }

                                    }





                                    <div class="rounded-pill p-1" id="location" style="position:absolute;right:8px; top:3%; background-color:black;opacity:0.6; color:white">
                                        <img src="~/images/pin1.png" />&nbsp;<span>@modeldetail.City.Name</span>
                                    </div>

                                    @{
                                    int cnt = 0;
                                    foreach (var i in Model.FavoriteMissions)
                                    {
                                        if (@modeldetail.MissionId == @i.MissionId && @i.UserId == Model.Users.UserId)
                                        {
                                            cnt++;
                                        }
                                        else
                                        {
                                            continue;
                                        }

                                    }

                                    if (cnt != 0)
                                    {
                                                <div class="rounded-circle p-2 " id="location" style="position:absolute;right:8px; top:35%; background-color:black;opacity:0.6; color:white ">
                                                    <i class="fa fa-heart" style="font-size:23px;color:red;vertical-align:bottom;"></i>
                                                </div>

                                    }
                                    else
                                    {
                                                <div class="rounded-circle p-2 " id="location" style="position:absolute;right:8px; top:35%; background-color:black;opacity:0.6; color:white ">
                                                    <img src="~/images/heart1.png" />
                                                </div>
                                    }
                                    }

                                    <div class="rounded-circle p-2" id="location" style="position:absolute;right:8px; top:55%; background-color:black;opacity:0.6; color:white ">
                                        <img src="~/images/add1.png" />
                                    </div>

                                    @{
                                    var missionMedia = Model.missionMedia.FirstOrDefault(m => m.MissionId == modeldetail.MissionId && m.Default==1 && m.MediaType != "URL");

                                    if (missionMedia != null)
                                    {
                                    <img class="cardimage card-img-top w-100 h-100" src="@missionMedia.MediaPath" alt="Card image cap">
                                    }
                                    else
                                    {
                                    <img class="cardimage card-img-top w-100 h-100" src="~/images/DefaultMisisonImage.png" alt="Card image cap">
                                    }
                                    }

                                   
                                    <div class="justify-content-center d-flex">
                                        <div class="px-5 p-1 rounded-pill " style="background-color: white;margin-top: -16px;"><p>@modeldetail.Theme.Title</p> </div>
                                    </div>

                                </div>
                                <div class="card-body mt-3 pt-0">
                                    <p class="card-title" style="font-size:26px;">@modeldetail.Title </p>
                                    <p class="card-text" style="color:#757575">@modeldetail.ShortDescription</p>

                                    <div class="d-flex justify-content-between mb-3">
                                        <div><p>@modeldetail.Country.Name</p></div>
                                        <div class="flex">
                                            <!--<img src="~/images/selected-star.png" />-->
                                            @{
                                            //             var useridcheckforrating = (long)ViewData["useridcheck"];
                                            //             var count = 0;
                                            //            var j = 1;
                                            //             var k = 1;


                                            //    foreach (var i in @modeldetail.MissionRatings)
                                            //    {
                                            //        if ((modeldetail.MissionRatings.Where(m => m.MissionId == modeldetail.MissionId && m.UserId == useridcheckforrating).Count() != 0))
                                            //        {
                                            //            var rating = modeldetail.MissionRatings.Where(m => m.MissionId == modeldetail.MissionId && m.UserId == useridcheckforrating).First();
                                            //            var ratingnumber = rating.Rating;
                                            //            for (j = 1; j <= ratingnumber; j++)
                                            //            {
                                            //                <i class="fas fa-star" style="font-size:19px;  background-color: #F5F5F5; color: #ffc107!important;"></i>
                                            //            }


                                            //            for (k = j; k <= 5; k++)
                                            //            {
                                            //                <i class="far fa-star" style="font-size:19px;  background-color: #F5F5F5; color: #ffc107!important;"></i>
                                            //            }

                                            //            break;
                                            //        }

                                            //        else
                                            //        {
                                            //            <i class="far fa-star" style="font-size:19px;  background-color: #F5F5F5; color: #ffc107!important;"></i>
                                            //            <i class="far fa-star" style="font-size:19px;  background-color: #F5F5F5; color: #ffc107!important;" ></i>
                                            //            <i class="far fa-star" style="font-size:19px;  background-color: #F5F5F5; color: #ffc107!important; "></i>
                                            //            <i class="far fa-star" style="font-size:19px;  background-color: #F5F5F5; color: #ffc107!important;"></i>
                                            //            <i class="far fa-star" style="font-size:19px;  background-color: #F5F5F5; color: #ffc107!important;"></i>
                                            //            break;
                                            //        }
                                            //    }

                                            }

                                            @{
    
                                                 var missionRatings = Model.MissionRatings.Where(m => m.MissionId == modeldetail.MissionId).Select(m => m.Rating);
                                                                                                 
                                                var missionRating = missionRatings.Any() ? missionRatings.Average() : 0; // return 0 if no ratings are found
                                           


                                            if (missionRating == 0)
                                            {
                                                        <i class="far fa-star" style="color:orange"></i>
                                                        <i class="far fa-star" style="color:orange"></i>
                                                        <i class="far fa-star" style="color:orange"></i>
                                                        <i class="far fa-star" style="color:orange"></i>
                                                        <i class="far fa-star" style="color:orange"></i>

                                            }

                                            else
                                            {
                                                for (var i = 1; i <= Math.Ceiling(missionRating); i++)
                                                {
                                                            <i class="fas fa-star" style="color:orange"></i>


                                                }
                                                for (var i = 1; i <= 5 - Math.Ceiling(missionRating); i++)
                                                {

                                                            <i class="far fa-star" style="color:orange"></i>
                                                }
                                            }

                                            }

                                        </div>
                                    </div>


                                    @if (modeldetail.MissionType == "Goal")
                                {
                                    foreach (var i in Model.GoalMission)
                                    {
                                        if (i.MissionId == modeldetail.MissionId)
                                        {
                                                <div class="SEDdiv">

                                                    <hr class="mt-3">
                                                    <div class="rounded-pill" style="background-color:#F5F5F5; text-align:center">@i.GoalObjectiveText</div>
                                                    <hr class="mt-3">

                                                </div>
                                            break;
                                        }
                                    }

                                }
                                    @if (modeldetail.MissionType == "Time")
                                {
                                        <div class="SEDdiv">

                                            <hr class="mt-3">
                                            <div class="rounded-pill" style="background-color:#F5F5F5; text-align:center">From @Convert.ToDateTime(modeldetail.StartDate).ToString("dd/mm/yyyy") to @Convert.ToDateTime(modeldetail.EndDate).ToString("dd/mm/yyyy")</div>
                                            <hr class="mt-3">

                                        </div>

                                }


                                    <div class="mt-1 d-flex justify-content-between">
                                        <div>
                                            <img src="~/images/Seats-left.png" />
                                            @{
                                                    <span>@modeldetail.SeatsLeft</span>
                                            }
                                            <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Seats left</p>

                                        </div>

                                        @if (modeldetail.MissionType == "Goal")
                                    {
                                            @foreach (var i in Model.GoalMission)

                                        {
                                            var width = @i.GoalValue;
                                            var acchivedgoal = Model.timesheets.Where(m => m.MissionId == @modeldetail.MissionId).Sum(t => t.Action);

                                            if (i.MissionId == modeldetail.MissionId)
                                            {
                                                    <div>
                                                        <div class="w-90 progress my-1">
                                                            <div class="progress-bar bg-warning" role="progressbar" style="width:@acchivedgoal%" aria-valuenow=@acchivedgoal aria-valuemin="0" aria-valuemax=@width></div>

                                                        </div>
                                                        <span>@acchivedgoal achieved</span>
                                                    </div>
                                                break;
                                            }
                                        }
                                    }
                                        @if (modeldetail.MissionType == "Time")
                                    {
                                            <div>
                                                <img src="~/images/deadline.png" />
                                                <span>@modeldetail.EndDate </span>
                                                <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Deadline</p>
                                            </div>
                                    }
                                    </div>
                                    <hr class="mt-0" />


                                    <div>
                                        <a asp-controller="Home" asp-action="VolunteeringMissionPage" class="btn border-warning rounded-pill" style="position: relative;left: 30%;" asp-route-missionid="@modeldetail.MissionId">
                                            <span style="color:orange">Apply &nbsp; </span> <img src="~/images/right-arrow.png" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                }

            }

        </div>



    </div>

    <div class="d-none" id="noMissionFound">
        @Html.Partial("_Nomissionfound")
    </div>


    <div class="container">
        @{

            if (pager.TotalPages > 0)
            {
                    <ul class="pagination justify-content-center">

                        @for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
                    {
                            <li class="page-item  @(pge==pager.CurrentPage ? "active":"") ">
                                <a class="page-link" onclick="LoadMission(sortValue,pge=@pge)">@pge</a>

                            </li>
                    }


                    </ul>
            }
        }
    </div>


    <script>



        var cards = document.getElementsByClassName("card1");

        $('#list-btn').on('click', function () {

            document.querySelector(".card-cont").classList.toggle("new");

            for (var i = 0; i < cards.length; i++) {
                cards[i].classList.toggle("old");

            }

            var x = document.getElementsByClassName("col-info");

            for (var i = 0; i < x.length; i++) {
                x[i].classList.toggle("col-lg-12", "col-md-12", "col-sm-12");
                x[i].classList.toggle("col-md-12");
                x[i].classList.toggle("col-sm-12");


            }

            var y = document.getElementsByClassName("cardimage");

            for (var i = 0; i < y.length; i++) {
                y[i].classList.add("cardimagelist");

            }

        });




        $('#grid-btn').on('click', function () {

            document.querySelector(".card-cont").classList.remove("new");

            for (var i = 0; i < cards.length; i++) {
                cards[i].classList.remove("old");

            }

            var x = document.getElementsByClassName("col-info");

            for (var i = 0; i < x.length; i++) {
                x[i].classList.remove("col-lg-12", "col-md-12", "col-sm-12");

            }

            var y = document.getElementsByClassName("cardimage");

            for (var i = 0; i < y.length; i++) {
                y[i].classList.remove("cardimagelist");

            }


        });


        if(@ViewBag.TotalCount==0)
        {
            $('#noMissionFound').removeClass("d-none");
        }






    </script>
